Repository xmtp/xmtp-react-native, pull requests merged in 2024-04, with the labels that each got.

#346 Fix iOS Lazy Load of Conversations
  example/ios/Podfile.lock
  ios/XMTPReactNative.podspec
Labels: Partner Support

#361 Improve consent performance
  android/build.gradle
Labels: Consent Proof

#371 Group consent state
  android/src/main/java/expo/modules/xmtpreactnativesdk/XMTPModule.kt
  android/src/main/java/expo/modules/xmtpreactnativesdk/wrappers/GroupWrapper.kt
  example/src/HomeScreen.tsx
  example/src/tests/groupTests.ts
  ios/Wrappers/GroupWrapper.swift
  ios/XMTPModule.swift
  src/index.ts
  src/lib/Group.ts
Labels: Group Chat - Prod

#358 Adds ability to name a group.
  android/src/main/java/expo/modules/xmtpreactnativesdk/XMTPModule.kt
  example/src/tests/groupTests.ts
  ios/XMTPModule.swift
  src/index.ts
  src/lib/Group.ts
Labels: Group Chat - Prod
